<div id="display">
  <h2>Press Space to display</h2>
  <h2>After checking, press Enter to pass, Esc to fail.</h2>
  <div id="color-display"></div>
  <div>
    <table id="color-table"></table>
  </div>
</div>
<link rel="stylesheet" href="src/tests/display/display.css">
